#title {
    text-align: center;
    min-height: 60px;
}
#timer,
#question,
#answer1,
#answer2,
#answer3,
#answer4,
#start {
    text-align: center;
    font-size:150%;
    /* align-content: center; */
}

body {
    background-image: url("/assets/images/cool-background.png");
    background-repeat: no-repeat;
    background-size: 100%, 100%
}